

name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]


    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install
        run: |
          pip install -e .
          pip install pytest-cov
          pip install -r requirements_test_ci.txt

      - name: set numba parallel flags
        run: |
          echo "NUMBA_NUM_THREADS=1" >> $GITHUB_ENV

      - name: Setup r2u
        uses: eddelbuettel/github-actions/r2u-setup@master

      - name: install R packages
        run: Rscript -e 'install.packages(c("fixest", "broom", "did2s"))'
        shell: bash

      - name: Run tests
        run: pytest --cov=pyfixest.pyfixest --cov-report=--cov-report=xml:reports/coverage.xml tests/test_errors.py
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./reports/coverage.xml